
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
	html * {
		@apply font-inter select-none;
	}
	.btn {
		@apply rounded-lg p-2 font-semibold transform transition-all active:scale-[0.99] disabled:active:scale-100 duration-200 ease-in-out disabled:bg-opacity-50 disabled:text-opacity-20 dark:disabled:bg-opacity-50 dark:disabled:text-opacity-20;
	}

	.secondary-color {
		@apply ring-1 ring-gray-300  text-gray-600 dark:ring-0 dark:bg-gray-700 dark:text-white;
	}

	.primary-color {
		@apply bg-amber-600 text-white
	}
}

@font-face {
	font-family: "Poppins";
	src: url("./fonts/Poppins/Poppins-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Inter";
	src: url("./fonts/Inter/Inter-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

body {
	font-family:
		Inter,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Fira Sans',
		'Droid Sans',
		'Helvetica Neue',
		sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;
	@apply transition-colors duration-300 ease-in-out text-gray-800 dark:text-white bg-gray-50 dark:bg-gray-900;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #d97706;
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b45309;
}

input[type="radio"] {
	@apply transition-all duration-200 ease-in-out	focus:border-transparent focus:ring-0 text-amber-600 ;
}

input[type="checkbox"] {
	@apply transition-all duration-200 ease-in-out h-5 w-5 rounded bg-transparent border-gray-400 text-amber-600 focus:ring-1 focus:outline-none  focus:ring-offset-2 focus:ring-amber-600;
}

.btn-primary {
	@apply btn primary-color ;
}

.btn-secondary {
	@apply btn secondary-color ;
}


.chips {
	@apply btn py-2 px-4 rounded-full flex items-center space-x-1 bg-gray-200 text-gray-800 dark:bg-gray-700 dark:text-white;
}

.chips.active {
	@apply text-white bg-amber-600;
}

.form-control {
	@apply text-left rounded-lg outline-none p-2 border-2 border-gray-300 dark:border-gray-700 bg-transparent focus:outline-none focus:border-transparent focus:bg-white dark:focus:bg-gray-700 focus:ring-2 focus:ring-amber-600;
}

.container-placeholder {
	@apply animate-pulse bg-gray-200 rounded-lg dark:bg-gray-700;
}

.tr-item {
	@apply transition border-b border-gray-400 dark:border-gray-700 focus:outline-none focus:bg-amber-100 dark:focus:bg-amber-900;
}

.pagination :global(.pagination-nav) {
	@apply text-red-600;
}

.pagination :global(.option.active) {
	background : red;
}
